body {
    --theme-main: #1D1B33;
    --theme-main-transparent: rgba(251, 82, 79, 0);
    --theme-shadow: rgba(251, 82, 79, 0.5);
    --theme-accent: #F42657;
    --theme-accent-transparent: rgba(250, 34, 30, 0);
    --theme-text: rgb(var(--color-white));
    font-family: manrope;
}
.header {

}
