header {

    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Три колонки: левая, центр, правая */
    align-items: center;
    background-color: #1D1B33;
    color: #fff;
    position: fixed;
    top: 0;  
    left: 0;  
    z-index: 100;  
    width: 100%;
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
    min-height: var(--header-height); 
}
:root {
    --header-height: 60px;
}
header a {
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px;
    align-items: center;
}
.header-logo {
    left: 20px;
    justify-self: start;
}
.header-nav {
    gap: 25px;
    justify-content: center;
}
.header-soc {
    justify-content: end;
}
body {
    --theme-main: #1D1B33;
    --theme-main-transparent: rgba(251, 82, 79, 0);
    --theme-shadow: rgba(251, 82, 79, 0.5);
    --theme-accent: #F42657;
    --theme-accent-transparent: rgba(250, 34, 30, 0);
    --theme-text: rgb(var(--color-white));
    font-family: 'manrope', sans-serif;
    color: #1D1B33;
    margin: 0;
    padding: 0;
    padding-top: var(--header-height);
}
footer {
background-color: #1D1B33;
color: #fff;
bottom: 0;
left: 0;
width: 100%;
margin: 0px;
padding-left: 5%; 
}
a {
    text-decoration: none;
    color: #fff;
}
button {
    font-family: 'manrope', sans—serif;
    font-size: 15px;
    color: #fff;
    background-color: #F42657;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 16px 36px #ae1a3d;
    padding: 15px;
}
h1 {
 text-align: center;
 justify-content: center;
}
div {
    padding: 10px;
}
.my-widget {
    width: 100%;
    height: 400px;
}
@media(min-width: 1200px){
    .my-widget {
        width: 1080px;
        height: 600px;
    }
}
